@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #2f3640;
}

.hidden {
  display: none;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
}

.navbar-item {
  display: flex;
  align-items: center;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 80px;
}

#navbar-links {
  display: flex;
  align-items: center;
}

#navbar-links a {
  margin-right: 30px;
  text-decoration: none;
  color: inherit;
}

#navbar-links button {
  margin-right: 100px;
}

header {
  margin: 80px 180px;
  font-size: 40px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

#navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.diary-left {
  float: left;
}
.diary-right {
  float: left;
}

.nav-link h1 {
  transition: color 0.2s ease-in-out;
}

.nav-link img {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.nav-link:hover h1 {
  color: skyblue;
}

.nav-link:hover img {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
